/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --cadet-blue-crayola: hsl(0, 8%, 80%);
  --gold-web-golden: hsl(256, 84%, 26%);
  --vivid-sky-blue: hsl(258, 84%, 63%);
  --midnight-blue: hsl(261, 100%, 48%);
  --minion-yellow: hsl(69, 85%, 48%);
  --independence: hsl(258, 100%, 60%);
  --orange-soda: hsl(0, 100%, 53%);
  --space-cadet:hsl(263, 100%, 25%);
  --fiery-rose: hsl(353, 83%, 65%);
  --klein-blue: hsl(263, 100%, 46%);
  --bluetiful: hsl(222, 88%, 55%);
  --glaucous: hsl(298, 76%, 10%);
  --manatee: hsl(251, 68%, 23%);
  --rufous: hsl(2, 85%, 35%);
  --black: hsl(0, 28%, 13%);
  --white: hsl(0, 100%, 95%);

  /**
   * typography
   */

  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;

  --fw-600: 600;
  --fw-700: 700;

  /**
   * border radius
   */

  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */

  --shadow: 0 -5px 10px var(--manatee);

  /**
   * transition
   */

  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
  color: var(--white);
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

address { font-style: normal; }

html {
  font-size: 62.5%; /* 1rem = 10px for scaling */
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
}

body {
  background-color: var(--space-cadet);
  color: var(--cadet-blue-crayola);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 15px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  width: 100%;
  max-width: 1200px; /* Increased max-width */
  margin: 0 auto;
  padding: 0 1rem; /* Ensure padding for small screens */
}

.btn {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn-primary.blue { background-color: var(--klein-blue); }

.btn-primary.blue:is(:hover, :focus) { background-color: var(--orange-soda); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: var(--section-padding); }

.section-subtitle {
  color: var(--orange-soda);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  text-align: center;
}

.h2,
.h3 {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.section-title,
.section-text { text-align: center; }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  padding-block: 15px;
  width: 100%;
  background-color: var(--space-cadet);
  height: 65px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 4;
}

.header.nav-active {
  height: 335px;
  transition-duration: 0.35s;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--orange-soda);
  font-family: var(--ff-poppins);
  font-size: 2.4rem;
  text-align: center; /* This centers the text inside the logo itself */
  margin: 0 auto; /* Ensures margin for centering */
  display: inline-block; /* Ensure it's an inline-block element to center it */
}

.nav-toggle-btn { font-size: 3rem; }

.nav-toggle-btn .close-icon,
.nav-toggle-btn.active .menu-icon { display: none; }

.nav-toggle-btn.active .close-icon,
.nav-toggle-btn .menu-icon { display: block; }

.navbar {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding-inline: 20px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-2);
}

.header.nav-active .navbar {
  visibility: visible;
  opacity: 1;
}

.navbar-link {
  color: var(--white);
  text-shadow: 
        1px 1px 0px rgb(46, 4, 4), /* Right shadow */
        -1px -1px 0px rgb(46, 4, 4), /* Left shadow */
        1px -1px 0px rgb(46, 4, 4), /* Top-right shadow */
        -1px 1px 0px rgb(46, 4, 4); /* Bottom-left shadow */
  font-family: var(--ff-barlow);
  padding-block: 3px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--orange-soda); }

.navbar .btn {
  background-color: var(--orange-soda);
  margin-block-start: 15px;
  font-size: 16px;
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

/* Keyframes for the Slide In Animation */
@keyframes slideInRight {
  0% {
    transform: translateX(100px); /* Start off-screen to the right */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateX(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox for alignment */
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Center vertically */
  padding: 0 20px; /* Consistent padding for small screens */
}

.hero-content {
  display: flex; /* Flex layout for content */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Align items to the right */
  gap: 20px; /* Add spacing between elements */
  text-align: center; /* Align text to the right */
  color: black; /* Default text color */
  margin-top: 40px;
  margin-right: 0; /* Adjusted to push further right */
  max-width: 800px; /* Limit content width for better readability */
  opacity: 0; /* Initially hide the content */
}


/* Add this class to trigger the animation */
.hero-content.show {
  animation: slideInRight 1s ease-out forwards; /* Apply the slide-in animation */
  opacity: 1; /* Make it visible when animation starts */
}

.title span {
  font-size: 5rem; /* Increased title size */
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  color: black; /* Keep text black */

  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.title p {
  font-size: 20px;
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.btn-group {
  display: flex;
  gap: 15px; /* Space between buttons */
  justify-content: flex-start; /* Align buttons to the right */
}

.btn {
  text-decoration: none; /* Remove underline */
  padding: 7px 20px; /* Button padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 2rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #007BFF; /* Primary blue */
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.logo{
  display: flex; 
  font-size: 25px;
}

.img-logo{
  width: 40px; 
  height: 40px;
}








/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

/* Keyframes for Slide In from the Left */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for Slide In from the Right */
@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#about { margin-top: 90px; }

/* Initial state: hidden */
.about-banner,
.about-content {
  opacity: 0;
  transform: translateX(-100px); /* Default off-screen position */
  will-change: transform, opacity;
}

/* Classes to trigger animation */
.about-banner.show {
  animation: slideInLeft 1s ease-out forwards;
}

.about-content.show {
  animation: slideInRight 1s ease-out forwards;
}


 .abs-img,
.abs-icon { display: none; }  

.about { padding-block-start: 10px; }

.about-banner {
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-block-end: 30px;

  /* Animation */
  animation: slideInLeft 1s ease-out; /* Apply the animation */
}

.about-banner > .img-cover {  border-radius: inherit; }

.about :is(.section-title, .section-subtitle, .section-text) { text-align: left; }

.about :is(.section-title, .section-text) { margin-block-end: 30px; }

.about-content { animation: slideInRight 1s ease-out; /* Apply the animation */ }




/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

/* Keyframes for Jump In from the Top */
@keyframes jumpInTop {
  0% {
    transform: translateY(-100px); /* Start off-screen from the top */
    opacity: 0; /* Fully transparent */
  }
  50% {
    transform: translateY(10px); /* Slight bounce effect */
    opacity: 0.7; /* Semi-transparent */
  }
  100% {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Keyframes for Jump In from the Top */
@keyframes jumpInTop {
  0% {
    transform: translateY(-100px); /* Start off-screen from the top */
    opacity: 0; /* Fully transparent */
  }
  50% {
    transform: translateY(10px); /* Slight bounce effect */
    opacity: 0.7; /* Semi-transparent */
  }
  100% {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Apply Jump In Animation to portfolio-list */
.portfolio-list {
  animation: jumpInTop 1s ease-out; /* Apply the animation */
  animation-delay: 0.3s; /* Delay for a slight staggered effect */
}

/* Apply Jump In Animation to section-subtitle, section-title, and section-text */
.section-subtitle, .section-title, .section-text {
  animation: jumpInTop 1s ease-out; /* Apply the animation */
  animation-delay: 0.3s; /* Delay for a slightly staggered effect */
}

.portfolio .section-title { margin-block-end: 18px; }

.portfolio .section-text { margin-block-end: 80px; }

.portfolio-list {
  display: grid;
  gap: 60px;
}

.portfolio-card {
  background-color: var(--independence);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  box-shadow: 0 4px 8px rgb(29, 2, 2);
  border-radius: var(--radius-20);
  font-family: var(--ff-barlow);
  color: var(--white);
  font-weight: var(--fw-600);
  transition: var(--transition-2);
}

.portfolio-list > li:nth-child(even) .card-content { margin-inline-start: auto; }

.portfolio-card .card-subtitle {
  color: var(--orange-soda);
  margin-block-end: 5px;
  text-shadow: 1px 1px 2px black;
}

.portfolio-card .card-title {
  color: #e6da00;
  max-width: 20ch;
  margin-block-end: 20px;
  text-shadow: 1px 1px 2px black, -1px -1px 2px rgb(0, 0, 0);
}

.portfolio-card .btn-link {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-6);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, -1px -1px 2px rgb(0, 0, 0);
}

.portfolio-card .btn-link ion-icon {
  color: red;
  font-size: 1.6rem;
}





/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

/* Keyframes for Jump In from the Top */
@keyframes jumpInTop {
  0% {
    transform: translateY(-100px); /* Start off-screen from the top */
    opacity: 0; /* Fully transparent */
  }
  50% {
    transform: translateY(10px); /* Slight bounce effect */
    opacity: 0.7; /* Semi-transparent */
  }
  100% {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Keyframes for Fade In from the Top */
@keyframes fadeInTop {
  0% {
    transform: translateY(-50px); /* Start off-screen from the top */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Apply Jump In Animation to section-subtitle, section-title, and section-text */
.section-subtitle, .section-title, .section-text {
  animation: jumpInTop 1s ease-out; /* Apply the animation */
  animation-delay: 0.3s; /* Delay for a slightly staggered effect */
}

/* Apply Fade In from the Top to skills-list */
.skills-list {
  animation: fadeInTop 1s ease-out; /* Apply the animation */
}

.skills .section-title { margin-block-end: 20px; }

.skills .section-text { margin-block-end: 70px; }

.skills-list {
  display: grid;
  gap: 25px;
}

.skills-item .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 10px;
}

.skills-title,
.skills-data {
  color: var(--white);
  font-size: var(--fs-5);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
}

.skills-progress-box {
  background-color: var(--white);
  height: 8px;
  border-radius: var(--radius-10);
}

.skills-progress {
  background-color: var(--orange-soda);
  height: 100%;
  border-radius: inherit;
}





/*-----------------------------------*\
  #CERTIFICATES AND ACHIEVEMENTS
\*-----------------------------------*/

/* Keyframes for Jump In from the Top */
@keyframes jumpInTop {
  0% {
    transform: translateY(-100px); /* Start off-screen from the top */
    opacity: 0; /* Fully transparent */
  }
  50% {
    transform: translateY(10px); /* Slight bounce effect */
    opacity: 0.7; /* Semi-transparent */
  }
  100% {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Keyframes for Slide In from the Left */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100px); /* Start off-screen to the left */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateX(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Keyframes for Slide In from the Right */
@keyframes slideInRight {
  0% {
    transform: translateX(100px); /* Start off-screen to the right */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateX(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Apply Jump In Animation to section-subtitle and section-title */
.section-subtitle, .section-title {
  animation: jumpInTop 1s ease-out; /* Apply the animation */
  animation-delay: 0.3s; /* Delay for a slightly staggered effect */
}

/* Apply Slide In from Left for certificate-1 */
.certificate-1 {
  animation: slideInLeft 1s ease-out; /* Apply the animation */
}

/* Apply Slide In from Right for certificate-2 */
.certificate-2 {
  animation: slideInRight 1s ease-out; /* Apply the animation */
}

/* Apply Slide In from Left for certificate-1 */
.certificate-3 {
  animation: slideInLeft 1s ease-out; /* Apply the animation */
}

/* Apply Slide In from Right for certificate-2 */
.certificate-4 {
  animation: slideInRight 1s ease-out; /* Apply the animation */
}

.container-card li{
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  padding: 20px 5px;

  flex-direction: column;
  margin-top: 20px;
}


.certificate-1{
  display: block;
  height: 300px;
  width: 400px;
  box-shadow: 0 4px 8px rgb(29, 2, 2);
}

.certificate-2{
  height: 300px;
  width: 400px;
  box-shadow: 0 4px 8px rgb(29, 2, 2);
}

.certificate-3{
  display: block;
 
  height: 300px;
  width: 400px;
  box-shadow: 0 4px 8px rgb(29, 2, 2);
}

.certificate-4{
  display: block;
 
  height: 300px;
  width: 400px;
  box-shadow: 0 4px 8px rgb(29, 2, 2);
}













/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

/* Keyframes for Jump In from the Top */
@keyframes jumpInTop {
  0% {
    transform: translateY(-100px); /* Start off-screen from the top */
    opacity: 0; /* Fully transparent */
  }
  50% {
    transform: translateY(10px); /* Slight bounce effect */
    opacity: 0.7; /* Semi-transparent */
  }
  100% {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Apply Jump In Animation to contact-card */
.contact-card {
  animation: jumpInTop 1s ease-out; /* Apply the animation */
  animation-delay: 0.3s; /* Delay for a slight staggered effect */
}

.contact-card {
  background-color: var(--midnight-blue);
  padding: 50px 25px;
  box-shadow: 0 4px 8px rgb(29, 2, 2);
  border-radius: var(--radius-20);
  color: black;
}

.contact-card .card-subtitle {
  color: white;
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.contact .section-title {
  text-align: left;
  margin-block-end: 30px;
  color: black;
}

.contact-form { margin-block-end: 50px; }

.contact-input {
  background-color: var(--white);
  color: var(--manatee);
  box-shadow: 0 4px 8px rgb(29, 2, 2);
  border-radius: var(--radius-5);
  padding: 15px 25px;
  font-size: var(--fs-5);
  margin-block-end: 15px;
}

.contact-input::placeholder { color: inherit; }

textarea.contact-input {
  resize: vertical;
  min-height: 100px;
  height: 180px;
  max-height: 300px;
}

.btn-submit {
  background-color: var(--orange-soda);
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}

.btn-submit:is(:hover, :focus) {
  background-color: green;
  color: white;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-item:not(:last-child) { margin-block-end: 20px; }

.contact-icon {
  background-color: brown;
  font-size: 2.4rem;
  padding: 20px;
  border-radius: 50%;
}

.contact-item-title {
  color: white;
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.contact-item-link { transition: var(--transition-1); }

.contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }






/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

/* Keyframes for Fade In from the Bottom */
@keyframes fadeInBottom {
  0% {
    transform: translateY(50px); /* Start off-screen from the bottom */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Fully visible */
  }
}

/* Apply Fade In from the Bottom to container */
.container {
  animation: fadeInBottom 1s ease-out; /* Apply the animation */
}

.footer {
  background-color: var(--independence);
  padding-block: 60px;
  color: black;
}

.copyright {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 10px;
}

.copyright-link {
  display: inline-block;
  transition: var(--transition-2);
  font-weight: var(--fw-600);
}

.copyright-link:is(:hover, :focus) { color: black; }

.footer-list {
  max-width: max-content;
  margin-inline: auto;
}

.footer-list * { display: inline-block; }

.footer-list > li:not(:last-child) { margin-inline-end: 40px; }

.footer-link { transition: var(--transition-2); }


i .fa-brands {
  color: var(--glaucous);
}




/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-to-top {
  color: var(--white);
  font-size: 1.3rem;
  position: fixed;
  bottom: 160px;
  right: -30px;
  transform: rotate(0.25turn);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 1;
}

.back-to-top.active {
  right: -5px;
  opacity: 1;
  visibility: visible;
}

.back-to-top::after {
  content: "";
  position: absolute;
  top: 10px;
  left: calc(100% + 7px);
  width: 100px;
  height: 1px;
  background-color: var(--white);
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */


    @media (max-width: 600px) {
      .hero-content {
        text-align: center; /* Adjust alignment */
      }
      .title {
        font-size: 2.4rem; /* Reduce size */
      }
      .hero-text {
        font-size: 1.4rem; /* Ensure readability */
      }
    }
    
    @media (min-width: 600px) {
    

  /**
   * PORTFOLIO
   */

  .portfolio-list li:nth-child(even) .card-content { margin-inline-start: 50%; }

 

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * PORTFOLIO
   */

  .portfolio-card {
    background-size: 115%;
    padding-inline: 80px;
  }

  .portfolio-card:is(:hover, :focus) { background-size: 130%; }
  


   /**
   * CERTIFICATIONS AND CERTIFICATE
   */

   

   .certificate-list > li {
    flex: 2 1 50%; /* Adjust width for larger screens to show two items per row */
  }

  


  /**
   * SKILLS, BLOG
   */

  .skills-list
  {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.4rem;
    --fs-2: 3.5rem;
    --fs-3: 3.6rem;

    /**
     * spacing
     */

    --section-padding: 80px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1050px;
    margin-inline: auto;
  }



  /**
 * HEADER
 */

.nav-toggle-btn {
  display: none;
}

.header,
.header.nav-active {
  background-color: transparent;
  box-shadow: none;
  height: unset;
  padding-block: 30px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.header.active {
  background-color: var(--space-cadet);
  box-shadow: var(--shadow);
  padding-block: 20px;
}

.navbar {
  all: unset;
  display: flex; /* Allow navbar to behave as a flex container */
  justify-content: center; /* Center the navbar content horizontally */
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .btn {
  margin-block-start: 0;
  --padding: 7px 30px;
}










  /**
   * HERO
   */

  .hero-content {
  display: flex; /* Flex layout for content */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Align items to the right */
  gap: 20px; /* Add spacing between elements */
  text-align: center; /* Align text to the right */
  color: black; /* Default text color */
  margin-left: 150px;
}

.title span{
  font-size: 10rem; /* Adjust title size */
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  color: black; /* Keep text black */

  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.img-logo{
  width: 50px; 
  height: 50px;
}

.title p {
  font-size: 30px;
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}






  /**
   * ABOUT
   */

  .about { padding-block: 60px; }

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
  }

  .about-banner {
    position: relative;
    margin-block-end: 0;
  }

  .abs-img,
  .abs-icon {
    display: block;
    position: absolute;
  }

  .abs-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: inherit;
    bottom: -150px;
    left: -100px;
  }

  .abs-icon {
    font-size: 5rem;
    padding: 20px;
    border-radius: inherit;
  }

  .abs-icon-1 {
    top: 50px;
    left: -120px;
    background-color: var(--bluetiful);
  }

  .abs-icon-2 {
    top: -40px;
    right: -40px;
    background-color: var(--gold-web-golden);
  }

  .abs-icon-3 {
    bottom: -40px;
    left: 250px;
    background-color: var(--rufous);
  }

  .abs-img,
  .abs-icon { display: block; /* Ensures icons are visible */ }

  





  /**
   * PORTFOLIO
   */

  .portfolio-card .card-subtitle { font-size: var(--fs-5); }

  .portfolio-card .btn-link { --fs-6: 1.6rem; }



  /**
   * SKILLS
   */

  .skills-list { column-gap: 100px; }


/**
   * CERTIFICATIONS AND ACHIEVEMENT
   */

   .certificate-list{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
  }




  /**
   * CONTACT
   */

  .contact-card { padding: 100px; }

  .contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .contact-form { margin-block-end: 0; }

  .contact-item { gap: 25px; }

  .contact-icon { padding: 30px; }


  

  /**
   * FOOTER
   */

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright,
  .footer-list { margin-inline: 0; }

}